<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<form class="ui fluid form">
  <div class="inline field ">
    <div class="ui pointing below red basic label">
      Inserisci testo da cercare
    </div>
    <input type="text" id="suggestion" placeholder="Search....">
  </div>
</form>

<div class="suggestionResults">

</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
