<div class="ui container dynamic">
  <div class="ui two column stackable grid">
    <div class="ten wide column">
      <div class="ui segment form">
        <div class="field">
          <label>Scelta</label>
          <input type="text" id="suggestion" name="suggestion" placeholder="Search....">
        </div>

        <div class="suggestionResults"></div>

        <div id="suggestionResults">
        </div>
      </div>
    </div>


    <div class="six wide column">
      <div class="ui segment">
        <div class="ui list">
          <div class="item">
            <div class="header">asdads</div>
            -----
          </div>
          <div class="item">
            <div class="header">Phone</div>
            .....
          </div>
          <div class="item">
            <div class="header">Message</div>
            _______
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
