<footer>
  <div class="ui inverted footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">PRONTOPRO</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Blog</a>
              <a href="#" class="item">Domande frequenti</a>
              <a href="#" class="item">Termini e condizioni</a>
              <a href="#" class="item">Privacy policy</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">CLIENTI</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Come funziona</a>
              <a href="#" class="item">Sicurezza</a>
              <a href="#" class="item">Dicono di noi</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">PROFESSIONISTI</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Come funziona</a>
              <a href="#" class="item">I tuoi vantaggi</a>
              <a href="#" class="item">Sicurezza</a>
              <a href="#" class="item">Come avere successo</a>
              <a href="#" class="item">Storie di successo</a>
              <a href="#" class="item">Crediti</a>
            </div>
          </div>
          <div class="seven wide column">
            <img src="https://www.prontopro.it/bundles/prontoprofrontend/img/logo.png" alt="Pronto Pro" width="190px">
            <p>Copyright @ 2015 - Tutti i diritti riservati</p>
            <img src="https://www.prontopro.it/bundles/prontoprofrontend/img/ph.png" alt="Numero verde" width="190px" />
          </div>
        </div>
      </div>
    </div>
</footer>
