<header>
  <div class="ui fixed menu">
    <div class="ui container">
      <img class="logo" src="https://www.prontopro.it/bundles/prontoprofrontend/img/logo.png">
      <div class="right menu">
        <a href="#" class="item">Come funziona</a>
        <a href="#" class="item">Accedi</a>
        <button class="ui button">Sono un professionista</button>
      </div>
    </div>
  </div>
</header>
